@font-face {
    font-family: Budmo;
    src: url(budmojiggler.ttf);
}

@font-face {
    font-family: Fabulous;
    src: url(fabulous.ttf);
}

@font-face {
    font-family: Digital;
    src: url(timebomb.ttf);
    font-weight: bolder;
}

body {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: stretch;
}

header {
  background-color: #C0C0C0;
}

#header-title {
  background-image: url("background.jpg");
  background-size: 100vw;
  background-color: black;
  padding: 25px;
}

h1 {
  font-family: 'Fabulous';
  color: #CA32A3;
  font-size: 72px;
  text-align: center;
  text-shadow: 1px 1px #9a44ba;
  margin: 0px 20px -5px 20px;
}

#picker {
  font-family: 'Budmo';
  font-size: 65px;
  color: #9a44ba;
  letter-spacing: 5px;
  text-shadow: 1px 1px #CA32A3;
}

#header-palette-container {
  border: 20px solid #C0C0C0;
  border-bottom: 60px;
  border-style: inset;
}

#header-palette-container-main,
#header-palette-container-pre,
#header-palette-container-post,
#header-palette-container-locks {
  position: relative;
  display: flex;
  flex-flow: row nowrap;
  align-content: space-around;
  /* width: 100%; */
}

.header-palette-box,
.header-palette-box-pre,
.header-palette-box-post,
.header-palette-box-lock {
  flex: 1;
  height: 80px;
  /* margin: 0 5px; */
  border: 5px solid black;
  border-style: none solid;
}

.header-palette-box {
  text-align: center;
  padding-top: 40px;
  box-shadow: 
    inset 0px 5px 10px -2px #FFF,
    inset 0px -5px 10px -2px #FFF;
}

.header-palette-box span {
  color: rgba(255, 255, 255, 0.9);
  font-size: 36px;
  font-family: Arial, Helvetica, sans-serif;
  text-shadow: 1px 1px #303030;
  text-transform: uppercase;
}

.header-palette-box-pre {
  height: 36px;
  box-shadow: 
    inset 0px 20px 40px -10px #000;
}

.header-palette-box-post {
  height: 36px;
  box-shadow: 
    inset 0px -20px 40px -10px #000;
}

.header-palette-box-lock {
  height: 0;
  text-align: center;
}

main {
  /* flex: 0 1 auto; */
  display: flex;
  flex-direction: column;
}

#main-dashboard {
  display: flex;
  flex-direction: column;
  justify-content: left;
  padding: 15px;
  height: 110px;
  background-color: #C0C0C0;
  border-top: 1px solid #303030;
  background: linear-gradient(#C0C0C0, #303030);
}

#main-save-palette-container,
#main-create-project-container {
  width: 80%;
}

input {
  width: 30%;
  height: 24px;
  margin-right: 5%;
  background-color: black;
  color: red;
  font-family: 'Digital';
  font-size: 22px;
  padding-top: 4px;
  padding-left: 8px;
  letter-spacing: 4px;
}

::placeholder {
    color: red;
    opacity: 1;
}
select {
  position: relative;
  top: -3px;
  width: 25%;
  height: 32px;
  margin-right: 5%;
  background-color: black;
  color: red;
  font-family: 'Digital';
  font-size: 18px;
  letter-spacing: 4px;
}

hr {
  color: white;
}

button {
  width: 80px;
  height: 80px;
  box-shadow: 
    0 0 4px 4px #448035 inset,
    0 0 4px 4px black;
  border-radius: 10px;
  background: linear-gradient(#90DF80 50%, #489D2E, #90DF80);
  font-family: 'Kanit', sans-serif;
  font-size: 18px;
  font-weight: 700;
  margin: 10px 20px;
  color: black;
  /* text-shadow: 1px 1px black; */
  letter-spacing: 1px;
}

button:focus {
  outline:0;
}

button:active {
  box-shadow: none;
}

button.selected {
  box-shadow: 
    0 0 4px 4px #DA8381 inset,
    0 0 4px 4px black;
  background: linear-gradient(#FFB6C1 50%, #DA8381, #FFB6C1);
}

#main-button-refresh {
  position: absolute;
  right: 25px;
  margin-top: 22px;
  font-size: 24px;
  font-weight: 900;
}

#save-palette-submit,
#create-project-submit {
  width: 25%;
  height: auto;
  background-color: lightgreen;
  color: #303030;
  text-shadow: none;
}

#create-project-submit {
  position: relative;
  left: 30.5%;
}

.lock-button {
  position: relative;
  top: 80px;
  width: 60%;
  height: 30px;
  box-shadow: 
    0 0 4px 4px #A52218 inset,
    0 0 4px 4px black;
  background: linear-gradient(#DA8381 50%, #A52218, #DA8381);
}

#main-dashboard-bottom {
  height: 20px;
  background: linear-gradient(#303030, #C0C0C0);
}

footer {
  flex: 1;
  background: linear-gradient(#C0C0C0, #303030);
  color: white;
  min-height: 90px;
  padding: 5px 15px;
}

#main-existing-projects-container {
  display: flex;
  position: relative;
  top: -5px;
  padding: 10px;
  height: 80%;
  border: 5px solid #F5F5F5;
  border-radius: 10px;
  border-style: groove;
  background-color: #C0C0C0;
  overflow: scroll;
  text-transform: uppercase;
}

article {
  margin-right: 2%;
}

article h2 {
  margin: 0px 0 5px 0;
  color: #000000;
  font-family: 'Open Sans', sans-serif;
  font-size: 20px;
  font-weight: 700;
  text-decoration: underline;
}

.project-palette-container {
  display: flex;
  flex-direction: row;
  justify-content: left;
}

.project-palette-container h3 {
  width: 120px;
  margin: 2px 10px;
  color: #303030;
  font-family: 'Roboto', sans-serif;
  font-size: 16px;
}

.project-color-box {
  width: 20px;
  height: 20px;
  margin: 2px;
  border: 1px solid #C0C0C0;
}

article img {
  width: 20px;
  height: 20px;
  margin: 3px;
}